/**/.gradle/
/**/.classpath
/**/.project
/**/.settings/
/**/bin/
/**/test/
/**/build/
/repo/
/cache/

# Tool Output - Jonathan uses the run directory
/run/
/output/

# Jonathan's IntelliJ Fuckery
/.idea/
